fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
python-dotenv

openai
azure-search-documents
azure-core
azure-identity
azure-storage-blob

langgraph
langchain-core
langsmith

httpx
orjson
tenacity

streamlit
pandas

pytest
pytest-asyncio
ruff
requests
azure-data-tables>=12.7.0
